input {
    display: block;
    width: 20rem;
    box-sizing: border-box;
}

input[type='submit'], table {
    margin-top: 1rem;
}

table {
    width: 40rem;
}

#logout {
    background-color: red;
    color: white;
    border-radius: 2px;
    border-color: red;
}

#createUser, #createActivity {
    background-color: #00ff00;
    border-radius: 2px;
    border-color: #00ff00;
}

#updateActivity, #updateUser {
    background-color: yellow;
    border-radius: 2px;
    border-color: yellow;
}

button {
    background-color: red;
    color: white;
    border-radius: 2px;
    border-color: red;
}